@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("images/background.png");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-box {
    background: linear-gradient(to bottom, #BBE1F2, #E3AAFF);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}


.form-box h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-box p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: #2FAB3B;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.form-box button:hover {
    background: #24932E;
}
